<a href="https://colab.research.google.com/github/Hussyconcept/Activity-/blob/main/Hamoye_stage_A_quiz_(1).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sn

In [ ]:
Data = pd.read_csv(r"C:\Users\Hussein\Downloads\FoodBalanceSheets_E_Africa_NOFLAG (1).csv", encoding = "latin-1")
Data.head()

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
0,4,Algeria,2501,Population,511,Total Population - Both sexes,1000 persons,38924.00,39728.00,40551.00,41389.00,42228.00
1,4,Algeria,2501,Population,5301,Domestic supply quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
2,4,Algeria,2901,Grand Total,664,Food supply (kcal/capita/day),kcal/capita/day,3377.00,3379.00,3372.00,3341.00,3322.00
3,4,Algeria,2901,Grand Total,674,Protein supply quantity (g/capita/day),g/capita/day,94.90,94.35,94.72,92.82,91.83
4,4,Algeria,2901,Grand Total,684,Fat supply quantity (g/capita/day),g/capita/day,80.06,79.36,77.40,80.19,77.28

In [ ]:
Data.groupby("Element")["Y2014"].count()

Element
Domestic supply quantity                  5244
Export Quantity                           3660
Fat supply quantity (g/capita/day)        4965
Feed                                      1216
Food                                      4896
Food supply (kcal/capita/day)             4947
Food supply quantity (kg/capita/yr)       4860
Import Quantity                           4919
Losses                                    2009
Other uses (non-food)                     1662
Processing                                1987
Production                                3830
Protein supply quantity (g/capita/day)    4963
Residuals                                 4604
Seed                                       762
Stock Variation                           4230
Total Population - Both sexes               45
Tourist consumption                        555
Name: Y2014, dtype: int64

In [ ]:
Data[["Element"]] = Data[["Y2014"]].fillna(value="mcf")

In [ ]:
Data.groupby("Element")["Y2017"].count()

Element
-1796.0       1
-1631.0       1
-849.0        2
-838.0        1
-685.0        1
           ...
98094.0       1
108756.0      1
109593.0      1
176405.0      1
mcf         863
Name: Y2017, Length: 4494, dtype: int64

In [ ]:
Data.groupby("Element")["Y2014"].count()

Element
-1796.0     1
-1631.0     1
-849.0      2
-838.0      1
-685.0      1
           ..
98094.0     1
108756.0    1
109593.0    1
176405.0    1
mcf         0
Name: Y2014, Length: 4494, dtype: int64

In [ ]:
Data.groupby("Item")["Y2014"].sum()

Item
Alcohol, Non-Food        2403.00
Alcoholic Beverages    102410.11
Animal Products         11935.65
Animal fats            209460.54
Apples and products      9499.23
                         ...
Vegetables, Other      155038.96
Vegetal Products       107145.19
Wheat and products     232670.13
Wine                     4497.36
Yams                   200396.96
Name: Y2014, Length: 119, dtype: float64

In [ ]:
Data.groupby("Element")["Y2014"].sum()

Element
-1796.0      -1796.0
-1631.0      -1631.0
-849.0       -1698.0
-838.0        -838.0
-685.0        -685.0
              ...
98094.0      98094.0
108756.0    108756.0
109593.0    109593.0
176405.0    176405.0
mcf              0.0
Name: Y2014, Length: 4494, dtype: float64

In [ ]:
Data['Y2015'].mean()

135.23596649549236

In [ ]:
Data['Y2014'].sum()

7965086.130000001

In [ ]:
Data.groupby('Area').count().sum()

Area Code       60943
Item Code       60943
Item            60943
Element Code    60943
Element         60943
Unit            60943
Y2014           59354
Y2015           59395
Y2016           59408
Y2017           59437
Y2018           59507
dtype: int64

In [ ]:
Data.groupby('Element').sum()

,Area Code,Item Code,Element Code,Y2014,Y2015,Y2016,Y2017,Y2018
Element,,,,,,,,
-1796.0,159,2657,5072,-1796.0,-73.00,-12.0,0.00,0.00
-1631.0,159,2924,5072,-1631.0,6.00,-77.0,-689.00,5.00
-849.0,266,5444,10340,-1698.0,-1118.00,-1119.0,-1200.00,-1196.00
-838.0,184,2907,5072,-838.0,-827.00,-679.0,-538.00,-567.00
-685.0,143,2905,5072,-685.0,3418.00,-3225.0,689.00,399.00
...,...,...,...,...,...,...,...,...
98094.0,238,2501,511,98094.0,100835.00,103603.0,106400.00,109224.00
108756.0,159,2907,5301,108756.0,110798.00,116483.0,112625.00,117038.00
109593.0,159,2907,5511,109593.0,111663.00,119330.0,117702.00,118172.00
176405.0,159,2501,511,176405.0,181137.00,185960.0,190873.00,195875.00
mcf,207084,4160778,7883990,0.0,349.35,391.9,706.17,862.29