<a href="https://colab.research.google.com/github/Hussyconcept/Activity-/blob/master/Hamoye_Quiz_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#importing libraries
import numpy as np
import pandas as pd 
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
#Loading the data into panda
energy = pd.read_csv(r"C:\Users\Hussein\Downloads\energydata_complete (2).csv")
energy.head()

,date,Appliances,lights,T1,RH_1,T2,RH_2,T3,RH_3,T4,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,2016-01-11 17:00:00,60,30,19.89,47.596667,19.2,44.790000,19.79,44.730000,19.000000,...,17.033333,45.53,6.600000,733.5,92.0,7.000000,63.000000,5.3,13.275433,13.275433
1,2016-01-11 17:10:00,60,30,19.89,46.693333,19.2,44.722500,19.79,44.790000,19.000000,...,17.066667,45.56,6.483333,733.6,92.0,6.666667,59.166667,5.2,18.606195,18.606195
2,2016-01-11 17:20:00,50,30,19.89,46.300000,19.2,44.626667,19.79,44.933333,18.926667,...,17.000000,45.50,6.366667,733.7,92.0,6.333333,55.333333,5.1,28.642668,28.642668
3,2016-01-11 17:30:00,50,40,19.89,46.066667,19.2,44.590000,19.79,45.000000,18.890000,...,17.000000,45.40,6.250000,733.8,92.0,6.000000,51.500000,5.0,45.410389,45.410389
4,2016-01-11 17:40:00,60,40,19.89,46.333333,19.2,44.530000,19.79,45.000000,18.890000,...,17.000000,45.40,6.133333,733.9,92.0,5.666667,47.666667,4.9,10.084097,10.084097

In [ ]:
#Description of the data
energy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19735 entries, 0 to 19734
Data columns (total 29 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   date         19735 non-null  object
 1   Appliances   19735 non-null  int64
 2   lights       19735 non-null  int64
 3   T1           19735 non-null  float64
 4   RH_1         19735 non-null  float64
 5   T2           19735 non-null  float64
 6   RH_2         19735 non-null  float64
 7   T3           19735 non-null  float64
 8   RH_3         19735 non-null  float64
 9   T4           19735 non-null  float64
 10  RH_4         19735 non-null  float64
 11  T5           19735 non-null  float64
 12  RH_5         19735 non-null  float64
 13  T6           19735 non-null  float64
 14  RH_6         19735 non-null  float64
 15  T7           19735 non-null  float64
 16  RH_7         19735 non-null  float64
 17  T8           19735 non-null  float64
 18  RH_8         19735 non-null  float64
 19  T9           19735 non-null  float64
 20  RH_9         19735 non-null  float64
 21  T_out        19735 non-null  float64
 22  Press_mm_hg  19735 non-null  float64
 23  RH_out       19735 non-null  float64
 24  Windspeed    19735 non-null  float64
 25  Visibility   19735 non-null  float64
 26  Tdewpoint    19735 non-null  float64
 27  rv1          19735 non-null  float64
 28  rv2          19735 non-null  float64
dtypes: float64(26), int64(2), object(1)
memory usage: 4.4+ MB

In [ ]:
#Note from the data description  there is no missing value as shown from the data info for the dataset.I wants to drop the dates and light column they are not of much use
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
normalised_df = pd.DataFrame(scaler.fit_transform(energy.drop(columns=['date', 'lights'])), 
                             columns=energy.drop(columns=['date', 'lights']).columns)
features_df = normalised_df.drop(columns=['Appliances'])
energy_target = normalised_df.Appliances
x_train, x_test, y_train, y_test = train_test_split(features_df, energy_target, test_size=0.3, random_state=42)

In [ ]:
lin_reg = LinearRegression()
lin_reg.fit(X_train[['T2']], x_train.T6)

LinearRegression()

In [ ]:
T6_pred = lin_reg.predict(X_test[['T2']])

In [ ]:
from sklearn.metrics import r2_score

In [ ]:
print(f'r^2 score: {round(r2_score(X_test.T6, T6_pred), 2)}')

r^2 score: 0.64

In [ ]:
from sklearn.metrics import mean_absolute_error

In [ ]:
print(f'MAE: {round(mean_absolute_error(X_test.T6, T6_pred), 2)}')

MAE: 0.08

In [ ]:
from sklearn.metrics import  mean_squared_error

In [ ]:
energy.drop(columns=['date', 'lights']).max().sort_values()

Windspeed        14.000000
Tdewpoint        15.500000
T9               24.500000
T5               25.795000
T7               26.000000
T_out            26.100000
T4               26.200000
T1               26.260000
T8               27.230000
T6               28.290000
T3               29.236000
T2               29.856667
rv1              49.996530
rv2              49.996530
RH_3             50.163333
RH_4             51.090000
RH_7             51.400000
RH_9             53.326667
RH_2             56.026667
RH_8             58.780000
RH_1             63.360000
Visibility       66.000000
RH_5             96.321667
RH_6             99.900000
RH_out          100.000000
Press_mm_hg     772.300000
Appliances     1080.000000
dtype: float64

In [ ]:
def get_weights_df(model, feat, col_name):
    #this function returns the weight of every feature
    weights = pd.Series(model.coef_, feat.columns).sort_values()
    weights_df = pd.DataFrame(weights).reset_index()
    weights_df.columns = ['Features', col_name]
    weights_df[col_name].round(3)
    return weights_df

In [ ]:
from sklearn.linear_model import Ridge

In [ ]:
ridge_reg = Ridge(alpha=0.4)
ridge_reg.fit(X_train, y_train)

Ridge(alpha=0.4)

In [ ]:
from sklearn.linear_model import Lasso

In [ ]:
lasso_reg = Lasso(alpha=0.001)
lasso_reg.fit(X_train, y_train)

Lasso(alpha=0.001)

In [ ]:
model = LinearRegression()
model.fit(X_train, y_train)

LinearRegression()

In [ ]:
linear_model_weights = get_weights_df(model, X_train, 'Linear_Model_Weight')
ridge_weights_df = get_weights_df(ridge_reg, X_train, 'Ridge_Weight')
lasso_weights_df = get_weights_df(lasso_reg, X_train, 'Lasso_weight')

final_weights = pd.merge(linear_model_weights, ridge_weights_df, on='Features')
final_weights = pd.merge(final_weights, lasso_weights_df, on='Features')

In [ ]:
final_weights.sort_values("Linear_Model_Weight", ascending=False)

       Features  Linear_Model_Weight  Ridge_Weight  Lasso_weight
25         RH_1             0.553547      0.519525      0.017880
24           T3             0.290627      0.288087      0.000000
23           T6             0.236425      0.217292      0.000000
22    Tdewpoint             0.117758      0.083128      0.000000
21           T8             0.101995      0.101028      0.000000
20         RH_3             0.096048      0.095135      0.000000
19         RH_6             0.038049      0.035519     -0.000000
18    Windspeed             0.029183      0.030268      0.002912
17           T4             0.028981      0.027384     -0.000000
16         RH_4             0.026386      0.024579      0.000000
15         RH_5             0.016006      0.016152      0.000000
14   Visibility             0.012307      0.012076      0.000000
13           T7             0.010319      0.010098     -0.000000
12  Press_mm_hg             0.006839      0.006584     -0.000000
11          rv2             0.000770      0.000748     -0.000000
10          rv1             0.000770      0.000748     -0.000000
9            T1            -0.003281     -0.018406      0.000000
8            T5            -0.015657     -0.019853     -0.000000
7          RH_9            -0.039800     -0.041367     -0.000000
6          RH_7            -0.044614     -0.045977     -0.000000
5        RH_out            -0.077671     -0.054724     -0.049557
4          RH_8            -0.157595     -0.156830     -0.000110
3            T9            -0.189941     -0.188916     -0.000000
2            T2            -0.236178     -0.201397      0.000000
1         T_out            -0.321860     -0.262172      0.000000
0          RH_2            -0.456698     -0.411071     -0.000000